{|^ for $.list -> link |}
    <div>
        {|^ if link.file !== undefined |}
            <a href="{| link.destFile.replace(/index.html$/, "") |}"
            style="display: block;"
            ws-x="[t.dec none] [c:hover @primary] [p 4px] [b 4px solid transparent]
            [b.x.c:hover @primary]">
                {|@ "link-icon.html" # list: link.sublist |}
                {| link.name |}
            </a>
        {|: else |}
            <div>
                {|@ "link-icon.html" # list: link.sublist |}
                {| link.name |}
            </div>
        {||}
        {|^ if link.sublist.length !== 0 |}
            <ws-flex ws-x="[p.l 12px]">
                {|@ "site-tree.html" # list: link.sublist |}
            </ws-flex>
        {||}
    </div>
{||}
