/*md
    [@] Components/Chip
    # Badge

    Shows a small piece of information that is separate from the surrounding
    info and optionally allows interaction.

    ## Wind Functions
    - one of @outline/@fill `required`
    - $color `required`
    - $click

    {yaml}
    frame:  index.html#chip
    code:  chip.html
    height: 400px

ws-chip
    display: inline-flex
    align-items: center
    justify-content: center
    border-radius: 100px
    padding: 4px 12px
    user-select: none
    vertical-align: text-bottom

    &:where([ws\:\$click])
        cursor: pointer
        @import "../$clickable"
