/*md
    [@] Components/Flex

    # Flex

    Flex container with a few nice presets to space the content and allow
    scrolling to be added easily.

    ## Preview
    [^] index.html#flex

    ## Code Example
    [$] flex.html

ws-flex
    display: flex
    flex-direction: column
    gap: 4px
    padding: 4px
    overflow: hidden

    & > *
        flex-shrink: 0
