/*md
    [@] Components/Icon

    # Icon

    Displays an icon with optional text next to it using
    [Tabler Icons](https://tabler-icons.io/).

    ## Preview
    [^] index.html#icon

    ## Code Example
    [$] icon.html

ws-icon
    display: inline-block

    &:where(:not(:empty))::before
        margin-right: 2px

    &::before
        font-size: 18px
        font-family: tabler-icons!important
        speak: none
        font-style: normal
        font-weight: 400
        font-variant: normal
        text-transform: none
        line-height: 1
        -webkit-font-smoothing: antialiased
