/*md
    [@] Components/Modal

    # Modal

    Puts a modal on screen with visibility toggling through either a hidden
    checkbox input next to the modal or using the $show wind function.

    Differnt types of modals are just positions applied to whatever container
    the modal content is put inside.

    ## Wind Functions
    - @dialog
        > Positions in the center of the screen
    - @select
        > Position at the top, centered horizontally
    - @menu
        > Menu drawer that sits on the left side of the screen
    - @action
        > Actions drawer that sits on the right side of the screen

    {yaml}
    frame:  index.html#modal
    code:  modal.html
    height: 400px

ws-modal
    --text-color: var(--text-color-normal)

    position: fixed
    top: 0px
    left: 0px
    bottom: 0px
    right: 0px
    background-color: rgba(0, 0, 0, 0.55)
    z-index: 100
    display: none
    color: var(--text-color-normal)
    cursor: default

    & > label:first-child
        position: absolute
        width: 100%
        height: 100%
        cursor: pointer

    &[ws-x~="$show"]
        display: block

    input[type="checkbox"]:not(:checked) + &
        display: none
    input[type="checkbox"]:checked + &
        display: block

    & > :where(:not(label:first-child))
        position: absolute
        min-width: 15vw

        &:where([ws-x~="@menu"])
            top: 0px
            left: 0px
            height: 100%
        &:where([ws-x~="@action"])
            top: 0px
            right: 0px
            height: 100%
        &:where([ws-x~="@select"])
            top: 0px
            left: 50%
            transform: translateX(-50%)
            max-height: 75vh
            max-width: min(90vw, 720px)
        &:where([ws-x~="@dialog"])
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
