/*md
    [@] Components/Paper

    # Paper

    Generic container component for making areas visually distinct from each
    other on the page.

    ## Wind Functions
    - @outline
    - $color

    ### Areas
    - slot[content] `required`
    - slot[header]
    - slot[footer]

    {yaml}
    frame:  index.html#paper
    code:  paper.html
    height: 400px

ws-paper
    --color: var(--layer-border-color)

    display: grid
    border-radius: 4px
    box-shadow: 0px 2px 4px var(--shadow-color)
    overflow: hidden
    grid-template-columns: 1fr
    grid-template-rows: min-content auto min-content
    grid-template-areas: "header" "content" "footer"
    background-color: var(--background-layer)

    &::before
        content: ""
        grid-area: header
    &::after
        content: ""
        grid-area: footer

    & > :where([ws-x~="slot[content]"], [slot="content"])
        grid-area: content
    & > :where([ws-x~="slot[header]"], [slot="header"])
        grid-area: header
        font-size: var(--text-size-header)
    & > :where([ws-x~="slot[footer]"], [slot="footer"])
        grid-area: footer
