ws-paper
    --color: var(--layer-border-color)

    display: grid
    border-radius: 4px
    box-shadow: 0px 2px 4px var(--shadow-color)
    overflow: hidden
    grid-template-columns: 1fr
    grid-template-rows: min-content auto min-content
    grid-template-areas: "header" "content" "footer"
    background-color: var(--background-layer)

    &::before
        content: ""
        grid-area: header
    &::after
        content: ""
        grid-area: footer

    // &[ws-x]
    //     border-color: var(--color)

    & > [ws-x~="$content"]
        grid-area: content
    & > [ws-x~="$header"]
        grid-area: header
    & > [ws-x~="$footer"]
        grid-area: footer
