/*md
    [@] Components/Titlebar

    # Titlebar

    Displays a titlebar inside a screen or card (or anywhere really, but it
    looks pretty cool with those). Allows customization of the text and side
    controls.

    ## Wind Functions
    - @fill
    - $color

    {yaml}
    frame:  index.html#titlebar
    code:  titlebar.html
    height: 400px

ws-titlebar
    --text-color: var(--text-color-normal)

    display: grid
    height: 48px
    grid-template-columns: min-content auto min-content
    grid-template-areas: "menu title action"
    user-select: none

    &:where(:not([ws-x~="@fill"]))
        border-bottom: 1px solid var(--color, var(--text-color-normal))

    & > :where([ws-x~="slot[title]"], [slot="title"])
        grid-area: title
        display: flex
        flex-direction: column
        justify-content: center
        padding: 4px
    & > :where([ws-x~="slot[menu]"], [slot="menu"])
        grid-area: menu
        --text-color-normal: var(--text-color)
    & > :where([ws-x~="slot[action]"], [slot="action"])
        grid-area: action
        --text-color-normal: var(--text-color)
