/*md
    [@] Components/Toaster

    # Toaster

    The toaster element is for displaying short-lived popup notifications or
    information on the edges of the screen. It does not have any specific child
    elements that it formats, it instead allows for any kind of styled element
    to be used to display the messages (exmamples use the Notification component
    to show the locations).

    ## Wind Functions
    - $tl - Top Left
    - $tc - Top Center
    - $tr - Top Right
    - $ml - Middle Left
    - $mr - Middle Right
    - $bl - Bottom Left
    - $bc - Bottom Center
    - $br - Bottom Right

    {yaml}
    frame:  index.html#toaster
    code:  toaster.html
    height: 400px

ws-toaster
    position: fixed
    z-index: 100
    display: inline-flex
    flex-direction: column
    padding: 4px
    gap: 4px
    height: min-content!important

    &[ws\:\$tl]
        top: 0px
        left: 0px
    &[ws\:\$tc]
        top: 0px
        left: 50%
        transform: translateX(-50%)
    &[ws\:\$tr]
        top: 0px
        right: 0px
    &[ws\:\$ml]
        top: 50%
        left: 0px
        transform: translateY(-50%)
    &[ws\:\$mr]
        top: 50%
        right: 0px
        transform: translateY(-50%)
    &[ws\:\$bl]
        bottom: 0px
        left: 0px
    &[ws\:\$bc]
        bottom: 0px
        left: 50%
        transform: translateX(-50%)
    &[ws\:\$br]
        bottom: 0px
        right: 0px
