<html>
    <head>
        <title>{| $.title |}</title>
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width" />

        <link rel="icon" type="image/png" href="https://axel669.net/images/megaman-rounded.png" />

        <link href="https://cdn.jsdelivr.net/npm/prismjs@v1.29.0/themes/prism{| $.vars.themeCSS[$.options.theme] |}.css" rel="stylesheet" />
        <link href="/style.css" rel="stylesheet" />
    </head>

    <body ws-x="theme[{| $.options.theme |}]">
        <script src="https://cdn.jsdelivr.net/npm/@axel669/windstorm@0.1.17/dist/browser.js"></script>
        <ws-paper ws-x="r[0px] w[min(100%,800px)] m-l[auto] m-r[auto]">
            {|@ "part/sidebar.html" |}
            {|^ if $.options.repo !== undefined |}
                {|@ "part/repo.html" |}
            {||}
            <ws-flex ws-x="over[auto] p-x[40px] p-y[0px]" id="wrapper">
                <div>
                    {|* $.content |}
                </div>
            </ws-flex>
        </ws-paper>
        <script type="module">
            import mermaid
            from "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs"

            mermaid.run({
                querySelector: ".mermaid"
            })
        </script>
    </body>
</html>
