<div ws-x="pos[fixed] x[50%] y[0px] grid w[36px] h[40px]
            tr[translateX(max(-400px,-50vw))]">
    <label ws-x="@button @flat $compact $color[primary] r[0px]
                bg[&background-layer] b-s[solid] b-c[&primary]
                b-r-w[2px] b-b-w[2px] b-l-w[2px] r-br[4px] r-bl[4px]" for="menu">
        <ws-icon class="ti-menu-2" ws-x="t-sz[20px]" />
    </label>
</div>

<div ws-x="pos[fixed] x[50%] y[0px] grid w[36px] h[40px]
            tr[translateX(calc(min(400px,50vw)_-_36px))]">
    <a ws-x="@button @flat $compact $color[primary] r[0px]
                bg[&background-layer] b-s[solid] b-c[&primary]
                b-r-w[2px] b-b-w[2px] b-l-w[2px] r-br[4px] r-bl[4px] t-deco[none]"
        href="https://github.com/axel669/lib.windstorm" target="_blank">
        <ws-icon class="ti-brand-github" ws-x="t-sz[20px]" />
    </a>
</div>

<input type="checkbox" ws-x="hide" id="menu" />
<ws-modal ws-x="&anim-time[200ms]">
    <label for="menu"></label>
    <ws-paper ws-x="@menu r[0px] w[] w-min[20vw] w-max[320px]">
        <ws-flex ws-x="over-y[auto] p-b[16px]">
            <ws-titlebar ws-x="$color[primary]">
                <ws-text ws-x="$title slot[title]">
                    Page Navigation
                </ws-text>
            </ws-titlebar>
            <ws-flex ws-x="p[0px]">
                {|^ for $.headings -> heading |}
                    <a href="#{| heading.id |}"
                    ws-x="p[8px] p-l[{| heading.depth * 16 |}px] t-sz[&text-size-header]
                    t-deco[none] hover:c[&primary] hover:b-r[3px_solid_var(--primary)]
                    b-r[3px_solid_transparent]"
                    >
                        {|* heading.html |}
                    </a>
                {||}
            </ws-flex>

            <ws-titlebar ws-x="$color[secondary]">
                <ws-text ws-x="$title slot[title]">
                    Site Navigation
                </ws-text>
            </ws-titlebar>
            <ws-flex ws-x="t-sz[&text-size-header]">
                {|@ "site-tree.html" # list: $.sidebar |}
            </ws-flex>
        </ws-flex>
    </ws-paper>
</ws-modal>
