{|^ for $.list -> link |}
    <div>
        {|^ if link.file !== undefined |}
            <a href="/{| link.destFile |}"
            ws-x="block t-deco[none] hover:c[&secondary]
            hover:b-r[3px_solid_var(--secondary)]">
                {|@ "link-icon.html" # list: link.sublist |}
                {| link.name |}
            </a>
        {|: else |}
            <div>
                {|@ "link-icon.html" # list: link.sublist |}
                {| link.name |}
            </div>
        {||}
        {|^ if link.sublist.length !== 0 |}
            <ws-flex ws-x="p-l[12px]">
                {|@ "site-tree.html" # list: link.sublist |}
            </ws-flex>
        {||}
    </div>
{||}
